{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>Travelers Hub</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <!-- Navigation -->
            <a id="logo" href="{% url 'index' %}">
                <img id="logo-img" src="{% static 'images/logo-boeing.png' %}" alt="logo">
            </a>

            <nav>
                <div class="user">
                    {% if not traveler %}
                        <a href="{% url 'create-traveler' %}">New Traveler's Profile</a>
                    {% else %}
                        <a href="{% url 'all-trips' %}">All Trips</a>
                        <a href="{% url 'create-trip' %}">Share Trip</a>
                        <a href="{% url 'details-traveler' %}">Traveler's Profile</a>
                    {% endif %}
                </div>
            </nav>
        </header>
                {% block content %}

                {% endblock %}


        <!-- Footer -->
        <footer>
            <p>&copy; 2024 Travelers Hub by SoftUni Team. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
